.categories {
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px ; 
    column-gap: 80px;
    row-gap: 300px;
    justify-content: center;   
    grid-template-columns: repeat(3, 200px);
}
.color {
    height:30px;
    display:grid;
    grid-template-columns: 10px 10px;
    grid-template-rows:  10px 10px;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;   
    grid-template-columns: repeat(2, 40px);
    margin-bottom: 80px;
}
.shopgrid{
    display:flex;
    flex-direction:row;
    margin-top: 60px;
    background-color:#fff;
    padding-left: 50px;
}
.filter{
    margin-top:250px;
    margin-left: 80px;
    /* position:sticky;
    top:100px; */
}
.products{
    margin-left: 50px;
}
ul{
    list-style-type:none;
    }